<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.anpalmak.nailfiffing">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"

        tools:node="replace"
        />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera"
        tools:ignore="DuplicateUsesFeature" />
    <uses-feature android:name="android.hardware.camera.autofocus"
        tools:ignore="DuplicateUsesFeature" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:requestLegacyExternalStorage="true"

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar"
        tools:ignore="AllowBackup">
        <activity
            android:name=".Draw.Draw_design_avtivity"
            android:label="@string/draw"
            android:theme="@style/Theme.Design"
            android:exported="true">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainPageActivity" />

        </activity>
        <activity
            android:name=".DesignView.LikedViewActivity"
            android:label="@string/liked"
            android:theme="@style/Theme.MaterialComponents"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainPageActivity" />

        </activity>
        <activity

            android:name=".MainPageActivity"
            android:label="@string/homePage"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:exported="true"/>
        <activity
            android:name=".NailDetection.DetectorActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.Design.NoActionBar"
            android:exported="true">


    </activity>

        <activity
            android:name=".WatchProfileActivity"
            android:label="@string/user"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:exported="true" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainPageActivity" />

        </activity>
        <activity
            android:name=".DesignView.MyDesignsActivity"
            android:label="@string/myDesigns"
            android:theme="@style/Theme.Design"
            android:exported="true">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainPageActivity" />
        </activity>
        <activity
            android:name=".SignUpIn.SignInActivity"
            android:label="@string/signin"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:exported="true"/>
        <activity
            android:name=".SignUpIn.SignupActivity"
            android:label="@string/signup"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:exported="true">
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.Design.NoActionBar"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>